*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif ;
    box-sizing: border-box;

}

body{

    background: #000000;
    color: #fff;
    overflow-x: hidden;
    
}

.header{

   position: fixed;
   top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background:#0c0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Pofo{
position: relative;
right: 10px;
font-size: 25px;
color: #fff;
text-decoration: none;
font-weight: 600;

}

nav{

display: flex;
align-items: center;
justify-content: center;


}

nav ul li{
    display: inline-flex;
    margin: 10px;
padding-left: 10px;
}



nav ul li a{
color: #fff;
text-decoration: none;
font-size: 18px;
position: relative;
}

nav ul li a::after{

content: '';
width: 0;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -6px;
transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.img1{

    padding-left: 900px;
   margin-top: -250px;
}

.text{
padding-left: 50px;
 margin-top: 17%;
 font-size: 30px;   
}

.text h1{

font-size: 60px;
margin-top: 10px;

}
.text p span{

color:#ff004f;
font-size: 40px;

}



.text{
    line-height: 4rem;
}

.text h1 span{

    font-size: 30px;
}

.soc a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff004f;
    border-radius: 50%;
    font-size: 20px;
    color: #ff004f;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    position: relative;
    bottom: 250px;
    

}

.soc a:hover{
    background:#ff004f;
    color: #000000;
    border: #0b0101 0.1rem solid;
}

.btn-container{
    display: flex;
  position: relative;
  bottom: 200px;
  left: 50px;
    gap: 1rem;
    
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;

}

.btn-color-1, .btn-color-2 {
border: #ff004f 0.1rem solid;

}

.btn-color-1:hover , .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background: #ff004f;
    color: #fff;
}

.btn-color-1:hover {
    background: #ff004f;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover{
    border: #0b0101 0.1rem solid;
    
}

.btn-container {
    gap: 1rem;
}

.btn-color-2 {
    color: #ff004f;
}

.section__text__p1{
    text-align: center;
}

.title{
    font-size: 3rem;
    text-align: center;
    color: #ff004f;

}

.section-container{
    display: flex;
}

.text-container {
    padding: 600px;
    margin-top: -580px;
}

.title_1 {
    padding-top: 60px;
    color: #00ddff;
}

.title_2 {
    padding-top: 30px;
    color:#00ddff;
}



.skills__container {
    row-gap: 2rem;
    text-align: center;
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(212, 217, 220, 0.15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#fff ;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 85%;
}

.skills__js {
    width: 65%;
}

.skills__ux {
    width: 80%;
}

.section-title {
    color: #ff004f;
    font-size: 50px;
    margin-top: -400px;
}

.col_1 {

   padding: 150px; 
   margin-top: -150px;
}

.work__container {
    row-gap: 2rem;
    padding: 300px;
}

.work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.792);
    border-radius: .5rem;
    overflow: hidden;
}

/* .work__img img {
    transition: 1s;
}

.work__img img:hover {
    transform: scale(1.1);
} */
.a1{
    display: flex;
}

.contact1{
    min-height:auto;
    padding-bottom:7rem;
}
.contact1 form{
max-width:70rem;
margin:0 auto;
text-align:center;
}
.contact1 form .input-box{
    position: relative;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.contact1 form .input-box .input-field{
    position:relative;
    width:49%;
    margin:.8rem 0;
}
.contact1 form .input-box .input-field input,
.contact1 form .textarea-field textarea{
    width:100%;
    height:100%;
    padding:1.5rem;
    font-size:1.6rem;
    color:var(--text-color);
    background: transparent;
    border-radius:.6rem;
    border:.2rem solid white;
}
/* .contact1 form .focus{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--main-color);
    border-radius:.6rem;
    z-index:-1;
} */
.contact1 form .input-box .input-field input::placeholder,
.contact1 form .textarea-field textarea::placeholder{
    color:var(--text-color);
}
.contact1 form .textarea{
    position:relative;
    margin:.8rem 0 2.7rem;
    display:flex;
}
.contact1 form .textarea-field textarea{
    resize:none;
}
.contact1 form .btn-box btns.btn{
   cursor:pointer;
}
.btn1{
    position:relative;
    display:inline-block;
    padding:1.2rem 2.8rem;
    background:transparent;
    border:2px solid #ff004f;
    border-radius:.6rem;
   font-size:1.6rem;
   color:#ff004f;
   letter-spacing:.1rem;
   font-weight:600;
   text-decoration:none;
  
   transition:.3s;
   /* z-index:1;
   overflow:hidden; */
}
/* .btn1::before{
    content:'';
    position:absolute;
    right:0;
    bottom:0;
    width:0%;
    height:100%;
    background:var(--bg-color);
    z-index:-1;
    transition:.5s;
} */
.btn1:hover{
    background:#ff004f ;
    color:white;
  
}
/* .btn1:hover::before{
    width:100%;
} */

.heading{
    color: #ff004f;
}